*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 500px;
  width: 600px;
  margin: 0 auto;
  margin-top: 26px;
  display: flex;
  background-color:whitesmoke;
  border: none;
  box-shadow: 1px 1px 5px black;

}
form{
  height: 30%;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
form input{
  height: 25%;
  width: 70%;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  box-shadow: 2px 3px 5px red;
}
form button{
  height: 25%;
  width: 25%;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  box-shadow: 2px 3px 5px red;
}